@charset "UTF-8";

$defaultColor:#2c9ae8;
$left:26px;
@mixin set-border($color,$width:1px,$style:solid){
  border:$width $style $color!important;
}
@mixin set-center($width,$position:center){
  line-height:$width;
  text-align: $position;
}
@mixin set-gradient($start,$end){
  background: -webkit-linear-gradient(left,$start , $end);
  background: -o-linear-gradient(right, $start , $end);
  background: -moz-linear-gradient(right,$start , $end);
  background: linear-gradient(to right,$start , $end );
}
@mixin set-radius($radius:4px){
  border-radius: $radius;
}
@mixin set-font($size:16px,$color:#333){
  font-size: $size;
  color: $color;
}
@mixin set-signalBorder($position,$color:#e0e0e0,$weight:1px,$style:solid){
  border-#{$position}:$weight $style $color;

}
@mixin set-margin($position,$val){
  @if $position == ""{
    margin: $val;
  }@else{
    margin-#{$position}:$val;
  }
}
.clearfix{
  width: 0!important;
  height: 0!important;
  clear: both;
}
.clear::after{
  content: "";
  display: block;
  width: 0!important;
  height: 0!important;
  clear: both;
}

//menu Style
.menuTitle{
  .title{
    div>span{
      a{
        display: block;
        height:34px;
        font-size: 14px;
        padding-right: 10px;
        width: auto;
        &:hover{
          color: $defaultColor;
        }
      }
      .router-link-active{
        width:calc(100% + 11px);
        //background: url(/src/images/warning/triangle2.png) no-repeat 150px 14px;
        background-color: white;
        @include set-border($defaultColor,1px);
        padding-right: 9px;
        border-right:1px solid #fff!important;
        z-index: 10;
        position: relative;
      }
    }
  }
}

.btn-hover {
  position: relative;
  overflow: hidden;
  &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      transition: .1s ease-in-out;
  }
  &:hover::before {
      opacity: .12;
  }
}
.modal-dialog{
  width:430px;
}
.modal-content{
  height:270px;
}
.modal.fade.ng-isolate-scope.in .modal-dialog{
  top:calc(50% - 135px)
}
.modal-header {
  padding: 0px;
  border-bottom: 1px solid #e0e0e0;
  min-height: 16.42857143px;
  height: 60px;
  width: 100%;
  border-top: 4px solid #30a6e4;
  text-align: center;
  font-size: 18px;
  color: #333333;
}
.modal-body{
  width:100%;
  margin: 0;
  height: 210px;
}
.modal-title {
  margin: 0;
  width: 100%;
  float: left;
  height:57px;
  line-height: 57px;
  text-align: center;
}
.bodyTitle{
  width: 394px;
  height: 33px;
  margin: 0 auto;
  border-bottom: 1px dotted #e0e0e0;
}
.bodyTitle .hitch{
  font-size: 16px;
  color: #ef6e5b;
  border-bottom: 2px solid;
  width: 33px;
  height: 33px;
}
.modal-footer{
  .btn-default{
    width: 48%;
    border-radius: 6px;
    background-color: rgb(187,187,187)!important;
    color: #fff!important;
    border: 0;
  }
}


//table
.ivu-table{
  thead{
    tr>th{
      background-color: $defaultColor;
      color: #fff;
      text-align: center;
    }
  }
  tr.ivu-table-row-hover td .ivu-btn{
    background-color: #ebf7ff !important;
  }
  .ivu-table-cell{
    text-align: center;
    white-space: nowrap;
    padding: 0 !important;;
  }
  .ivu-checkbox{
    width:16px;
    height:16px;
    border-radius: 100%;
    background-color: #fff;
    @include set-border($defaultColor);
    .ivu-checkbox-inner{
      border-radius: 100%;
      width:12px;
      height:12px;
      top:1px;
      &:after{
        transform: rotate(0) scale(0) !important;
        background-color: $defaultColor!important;
      }
    }
  }

  tbody tr:hover {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}
//错误提示
.is-danger{
  color: red;
  font-size: 14px;
  padding-top:5px;
  vertical-align: bottom;
}
.is-danger.errorTip{
  position: absolute;
  width:256px;
}
//toast
.ivu-message{
  bottom: 500px;
  top: unset !important;
  .ivu-message-notice{
    .ivu-message-notice-content{
      background: rgba(0,0,0,0.4);
      @include set-radius(20px);
      color: #fff;
    }
  }
}
//按钮样式
.operate{
  margin: 0 9px;
  width:auto;
  padding:0 10px;
  height:24px;
  cursor: pointer;
  @include set-center(24px);
  @include set-radius(24px);
  color: #fff;
  background-color: $defaultColor;
  img{
    position: relative;
    top: 3px;
  }
  span{
    position: relative;
    top: -2px;
  }
  &:last-child{
    margin-right: 0;
  }
}

//弹窗
.ivu-modal {
  .ivu-modal-header {
    .titleLeft{
      width: 30px;
      height: 30px;
      background-color: #e5e5e5;
      cursor: pointer;
      margin-top: 11px!important;
      float: right;
      position: absolute;
      right:0;
    }
    .titleLeft img{
      display: block;
      position: absolute;
      left: -15px;
    }
    border-top: 4px solid $defaultColor;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0;
    p {
      color: #333;
      font-weight: normal;
      height:57px;
      line-height:57px;
      font-size: 20px;
      text-align: center;
    }
  }
}

//element的menu
.el-menu.el-menu-vertical-demo{
  height:100%;
  background:#white;
  .el-menu{
    background:#white;
  }
  >.el-submenu{
    background: $defaultColor;

    .el-menu-item.is-active{
      font-family:element-icons;
      border-left:3px solid $defaultColor ;
      a{
        color: $defaultColor

      }
    }
    //一级菜单标题
    >.el-submenu__title{
      color: white;
      font-size: 16px;
      &:hover{
        background: $defaultColor;
      }
      i{
        color: white;
      }
    }
    >.el-menu--inline{
      //二级菜单
      >.el-submenu{
        >.el-submenu__title{
          font-size: 16px;
          padding-left: 55px!important;
        }
        >.el-menu--inline{
          background: white;
          >.el-menu-item{
            padding-left: 65px!important;
            color: #909399;
          }
        }
      }
      >.el-menu-item{
        font-size: 16px;
        padding-left: 55px!important;
      }
    }
  }
  >.el-menu-item{
    background: $defaultColor;
    color: white;
    font-size: 16px;
    i{
      color: white;
    }
  }
}

//页码样式
.field{
  position: relative;

}
//loading 样式代码
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}
nav{
  position: absolute;
  bottom:80px;
  left:calc(50% - 60px);
  border:1px solid #e0e0e0;
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    li{
      height:34px;
      list-style: none;
      @include set-center(34px);
      width:42px;
      a{
        color: $defaultColor;
        font-size: 16px;
        &:hover{
          color: #0055b3;
          background-color: #eeeeee;
          border-color: #dddddd;
        }
      }
    }
  }
}




