.skin{
     transition: transform 0.5s,margin 0.5s;
 }
.skin:hover{
    transform:rotate(360deg);
    transform-style: preserve-3d;
}
a{
  color: #303030;
  text-decoration: none;
}

.nav-tabs{
    border: 0;
}
tbody tr:hover{
    transition: transform 0.5s;
    transform:scale3d(1.03,1.03,1.03);
}
.app-aside:before{
    display: none;
}
.table{
    margin-bottom: 0;
}
.panel{
    margin-bottom: 0;
}
.addConcern {
    width: 90px;
    float: right;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.inputs .col{
    margin: 5px 0;
    padding: 0;
    text-align: right;
    line-height: 34px;
}
.inputs .col input{
    display: inline;
    width: 140px;
}
.modal.fade.ng-isolate-scope.in .modal-dialog{
    top:calc(50% - 250px)
}
.myList{
    height: 100%;margin:0 15px
}
table td{
    font-size: 14px;
    text-align: center;
}
.table > thead > tr > th{
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}
.menuTitle {
    margin-top: 10px;
}
.menuTitle .menu {
    width:168px;
    height:32px;
    background-color: #2c9ae8;
    color: white;
    line-height: 32px;
}
.menuTitle .menu div{
    margin-left: 15px;
    float: left;
}
.menuTitle .menu .triangle{
    float:right;
    position: relative;
    right: 11px;
}
.menuTitle .title div{
    background-color: #F8F8F8;
    height: 36px;
    line-height: 36px;
    color: #333333;
    cursor:pointer ;
 }
.menuTitle .title div span{
    /*margin-left: 45px;*/
    margin-left: 0 ;
    text-align: center ;
    width: 100% ;
    display: block ;
}

.menuTitle .title div span{
    /*transition: margin-left 0.5s;*/
}
.menuTitle .title div:hover span{
    /*margin-left: 65px;*/
    transform-style: preserve-3d;
    color:#2c9ae8;
}
.menuTitle .title .active{
    border: 1px solid #2c9ae8;
    border-width: 1px 0 1px 1px;
    background-color: white;
    color:#2c9ae8;
    width: 179px;
    z-index: 10;
    position: relative;
}
.menuTitle .title .brisk{
    width: 168px;
    border-width: 1px;
}
