@import "common";
.table-container{
  @include set-margin(top,10px);
  thead{
    width:100%;
    height:24px;
    background-color: $defaultColor;
    tr{
      th{
        @include set-font(15px,#fff);
        padding:0;
        @include set-center(24px);
      }
    }
  }
  tbody{
    tr{
      height:40px;
      td{
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include set-center(40px);
        @include set-font(12px,#666);
      }
      td:nth-child(1),td:nth-last-child(1){
        @include set-font(12px,$defaultColor);
      }
    }

    tr:nth-of-type(even){
      background-color: #f1f1f1;
    }
  }
}

.modal-content{
  height:auto;
}
.modal.fade.ng-isolate-scope.in .modal-dialog{
  top:calc(50% - 200px)
}

#dialog1,#dialog{
  .modal-body{
    height:auto;
    padding:0;
    overflow-y: auto;
    @include set-signalBorder(top,#e5e5e5);
    .bodyContent{
      width:100%;
      .delContent{
        height: 90px;
        line-height: 54px;
        text-align: center;
      }
      .content{
        background-color: #fff;
        padding: 16px 35px 24px 35px;
        .row{
          margin:0;
          width:100%;
          margin-bottom: 14px;
          div{
            display: block;
            float: left;
            @include set-font(14px,#333);
            @include set-margin(right,20px);
            span{
              padding-left: 5px;
            }
          }
          input{
            outline: none;
            width:79%;
            height:28px;
            line-height:28px;
            @include set-font(14px,#666);
            padding-left: 5px;
            @include set-border(#e0e0e0);
            @include set-radius(4px);
          }
          input::-webkit-calendar-picker-indicator{
            display: none;
            -webkit-appearance: none;
          }
          datalist{
            display: block;
            position: absolute;
          }
          .signal{
            color: red;
            line-height: 36px;
            float: right;
            height: 28px;
            width: 7px;
            font-size: 21px;
          }
          textarea{
            @extend input;
            height:56px;
          }
          .deleteManu{
            float: right;
            @include set-font(14px,$defaultColor);
          }
          .toast{
            margin-left: 50px;
            color: red;
          }
          .transformerToast{
            width: 100%;
            margin-left: 90px;
          }
        }
        .row:nth-last-child(1){
          height:56px;
          margin-bottom: 0;
        }
        .checkboxFour{
          width: 14px;
          height: 14px;
          border-radius: 14px;
          position: relative;
          background-color: #fff;
          top: 3px;
          display: inline-block;
          @include set-border($defaultColor);
          margin-right: 5px!important;
        }
        .checkboxFour input[type=radio]{
          z-index: 10;
          opacity: 0;
          position: absolute;
          top:-2px;
          left:1px;
        }
        .checkboxFour label {
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -o-transition: all .5s ease;
          -ms-transition: all .5s ease;
          transition: all .5s ease;
          cursor: pointer;
          position: absolute;
          top: 1px;
          left: 1px;
          background: #fff;
        }
        .checkboxFour input[type=radio]:checked + label {
          background: $defaultColor;
        }
        .rowDelete{
          line-height: 56px;
          text-align: center;
          span{
            color: $defaultColor;
            margin-right: 5px;
          }
        }
      }
    }
    .modal-footer{
      padding:15px 25px;
      .btn{
        width: (100% - 4)/2;
        border-radius: 6px;
        background-color: #30a6e4!important;
        color: #fff;
        height: 42px;
      }
    }
    .toastFooter .btn{
      position: relative;
      left: calc(91px - 50%);
    }
  }
}