.clearfix {
  width: 0 !important;
  height: 0 !important;
  clear: both; }

.clear::after {
  content: "";
  display: block;
  width: 0 !important;
  height: 0 !important;
  clear: both; }

.btn-hover {
  position: relative;
  overflow: hidden; }
  .btn-hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: .1s ease-in-out; }
  .btn-hover:hover::before {
    opacity: .12; }

.modal-dialog {
  width: 430px; }

.modal-content {
  height: 270px; }

.modal.fade.ng-isolate-scope.in .modal-dialog {
  top: calc(50% - 135px); }

.modal-header {
  padding: 0px;
  border-bottom: 1px solid #e0e0e0;
  min-height: 16.42857143px;
  height: 60px;
  width: 100%;
  border-top: 4px solid #30a6e4;
  text-align: center;
  font-size: 18px;
  color: #333333; }

.modal-body {
  width: 100%;
  margin: 0;
  height: 210px; }

.modal-title {
  margin: 0;
  width: 100%;
  float: left;
  height: 57px;
  line-height: 57px;
  text-align: center; }

.titleLeft {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  cursor: pointer;
  margin-top: 15px;
  float: right;
  position: absolute;
  right: 0; }

.titleLeft img {
  display: block;
  position: absolute;
  left: -15px; }

.bodyTitle {
  width: 394px;
  height: 33px;
  margin: 0 auto;
  border-bottom: 1px dotted #e0e0e0; }

.bodyTitle .hitch {
  font-size: 16px;
  color: #ef6e5b;
  border-bottom: 2px solid;
  width: 33px;
  height: 33px; }

.hitchDevice {
  font-size: 16px;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 10px; }

.deviceNum, .deviceName {
  float: left;
  margin-right: 20px; }

.modal-footer .btn-default {
  width: 48%;
  border-radius: 6px;
  background-color: #bbbbbb !important;
  color: #fff !important;
  border: 0; }

.schedule {
  width: 174px;
  height: 30px;
  position: relative;
  top: 13px;
  left: 628px;
  margin-bottom: 26px;
  border: 1px solid #2c9ae8 !important;
  border-radius: 4px; }
  .schedule .phase {
    border: 0 !important;
    font-size: 16px;
    float: left;
    height: 28px;
    color: #2c9ae8;
    padding: 0;
    width: 86px;
    margin: 0;
    border-right: 0;
    line-height: 28px;
    text-align: center; }
    .schedule .phase:hover {
      background-color: #fff !important;
      color: #2c9ae8;
      text-shadow: 1px 1px 1px #2c9ae8; }
  .schedule .phaseOne {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .schedule .phaseTwo {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .schedule .active, .schedule .active:hover {
    border: 0;
    color: #fff !important;
    background-color: #2c9ae8 !important;
    cursor: default; }

.schPanel {
  position: relative;
  margin: 10px;
  height: calc(100% - 20px);
  border: 1px solid #2c9ae8 !important; }
  .schPanel .nav-tabs {
    width: 174px;
    height: 30px;
    position: relative;
    top: 13px;
    left: 621px;
    margin-bottom: 26px;
    border: 1px solid #2c9ae8 !important;
    border-radius: 4px; }
    .schPanel .nav-tabs li a, .schPanel .nav-tabs li li.active:focus {
      border: 0 !important;
      font-size: 16px;
      display: inline-block;
      height: 28px;
      color: #2c9ae8;
      padding: 0;
      width: 86px;
      margin: 0;
      border-right: 0;
      line-height: 28px;
      text-align: center; }
      .schPanel .nav-tabs li a:hover, .schPanel .nav-tabs li li.active:hover:focus {
        background-color: #fff !important;
        color: #2c9ae8;
        text-shadow: 1px 1px 1px #2c9ae8; }
    .schPanel .nav-tabs li.active {
      border: 0; }
      .schPanel .nav-tabs li.active a, .schPanel .nav-tabs li.active li.active:focus {
        border: 0;
        border-radius: 0;
        color: #fff !important;
        background-color: #2c9ae8 !important;
        cursor: default; }

.clearfix {
  width: 0 !important;
  height: 0 !important;
  clear: both; }

.clear::after {
  content: "";
  display: block;
  width: 0 !important;
  height: 0 !important;
  clear: both; }

.btn-hover {
  position: relative;
  overflow: hidden; }
  .btn-hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: .1s ease-in-out; }
  .btn-hover:hover::before {
    opacity: .12; }

.modal-dialog {
  width: 430px; }

.modal-content {
  height: 270px; }

.modal.fade.ng-isolate-scope.in .modal-dialog {
  top: calc(50% - 135px); }

.modal-header {
  padding: 0px;
  border-bottom: 1px solid #e0e0e0;
  min-height: 16.42857143px;
  height: 60px;
  width: 100%;
  border-top: 4px solid #30a6e4;
  text-align: center;
  font-size: 18px;
  color: #333333; }

.modal-body {
  width: 100%;
  margin: 0;
  height: 210px; }

.modal-title {
  margin: 0;
  width: 100%;
  float: left;
  height: 57px;
  line-height: 57px;
  text-align: center; }

.titleLeft {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  cursor: pointer;
  margin-top: 15px !important;
  float: right;
  position: absolute;
  right: 0; }

.titleLeft img {
  display: block;
  position: absolute;
  left: -15px; }

.bodyTitle {
  width: 394px;
  height: 33px;
  margin: 0 auto;
  border-bottom: 1px dotted #e0e0e0; }

.bodyTitle .hitch {
  font-size: 16px;
  color: #ef6e5b;
  border-bottom: 2px solid;
  width: 33px;
  height: 33px; }

.hitchDevice {
  font-size: 16px;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 10px; }

.deviceNum, .deviceName {
  float: left;
  margin-right: 20px; }

.modal-footer .btn-default {
  width: 48%;
  border-radius: 6px;
  background-color: #bbbbbb !important;
  color: #fff !important;
  border: 0; }

.schedule {
  width: 174px;
  height: 30px;
  position: relative;
  top: 13px;
  left: 628px;
  margin-bottom: 26px;
  border: 1px solid #2c9ae8 !important;
  border-radius: 4px; }
  .schedule .phase {
    border: 0 !important;
    font-size: 16px;
    float: left;
    height: 28px;
    color: #2c9ae8;
    padding: 0;
    width: 86px;
    margin: 0;
    border-right: 0;
    line-height: 28px;
    text-align: center; }
    .schedule .phase:hover {
      background-color: #fff !important;
      color: #2c9ae8;
      text-shadow: 1px 1px 1px #2c9ae8; }
  .schedule .phaseOne {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .schedule .phaseTwo {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .schedule .active, .schedule .active:hover {
    border: 0;
    color: #fff !important;
    background-color: #2c9ae8 !important;
    cursor: default; }

.schPanel {
  position: relative;
  margin: 10px;
  height: calc(100% - 20px);
  border: 1px solid #2c9ae8 !important; }
  .schPanel .nav-tabs {
    width: 174px;
    height: 30px;
    position: relative;
    top: 13px;
    left: 621px;
    margin-bottom: 26px;
    border: 1px solid #2c9ae8 !important;
    border-radius: 4px; }
    .schPanel .nav-tabs li a, .schPanel .nav-tabs li li.active:focus {
      border: 0 !important;
      font-size: 16px;
      display: inline-block;
      height: 28px;
      color: #2c9ae8;
      padding: 0;
      width: 86px;
      margin: 0;
      border-right: 0;
      line-height: 28px;
      text-align: center; }
      .schPanel .nav-tabs li a:hover, .schPanel .nav-tabs li li.active:hover:focus {
        background-color: #fff !important;
        color: #2c9ae8;
        text-shadow: 1px 1px 1px #2c9ae8; }
    .schPanel .nav-tabs li.active {
      border: 0; }
      .schPanel .nav-tabs li.active a, .schPanel .nav-tabs li.active li.active:focus {
        border: 0;
        border-radius: 0;
        color: #fff !important;
        background-color: #2c9ae8 !important;
        cursor: default; }

.table-container {
  margin-top: 10px; }
  .table-container thead {
    width: 100%;
    height: 24px;
    background-color: #2c9ae8; }
    .table-container thead tr th {
      font-size: 15px;
      color: #fff;
      padding: 0;
      line-height: 24px;
      text-align: center; }
  .table-container tbody tr {
    height: 40px; }
    .table-container tbody tr td {
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 40px;
      text-align: center;
      font-size: 12px;
      color: #666; }
    .table-container tbody tr td:nth-child(1), .table-container tbody tr td:nth-last-child(1) {
      font-size: 12px;
      color: #2c9ae8; }
  .table-container tbody tr:nth-of-type(even) {
    background-color: #f1f1f1; }

.modal-content {
  height: auto; }

.modal.fade.ng-isolate-scope.in .modal-dialog {
  top: calc(50% - 200px); }

#dialog1 .modal-body, #dialog .modal-body {
  height: auto;
  padding: 0;
  overflow-y: auto;
  border-top: 1px solid #e5e5e5; }
  #dialog1 .modal-body .bodyContent, #dialog .modal-body .bodyContent {
    width: 100%; }
    #dialog1 .modal-body .bodyContent .delContent, #dialog .modal-body .bodyContent .delContent {
      height: 90px;
      line-height: 54px;
      text-align: center; }
    #dialog1 .modal-body .bodyContent .content, #dialog .modal-body .bodyContent .content {
      background-color: #fff;
      padding: 16px 35px 24px 35px; }
      #dialog1 .modal-body .bodyContent .content .row, #dialog .modal-body .bodyContent .content .row {
        margin: 0;
        width: 100%;
        margin-bottom: 14px; }
        #dialog1 .modal-body .bodyContent .content .row div, #dialog .modal-body .bodyContent .content .row div {
          display: block;
          float: left;
          font-size: 14px;
          color: #333;
          margin-right: 20px; }
          #dialog1 .modal-body .bodyContent .content .row div span, #dialog .modal-body .bodyContent .content .row div span {
            padding-left: 5px; }
        #dialog1 .modal-body .bodyContent .content .row input, #dialog1 .modal-body .bodyContent .content .row textarea, #dialog .modal-body .bodyContent .content .row input, #dialog .modal-body .bodyContent .content .row textarea {
          outline: none;
          width: 79%;
          height: 28px;
          line-height: 28px;
          font-size: 14px;
          color: #666;
          padding-left: 5px;
          border: 1px solid #e0e0e0 !important;
          border-radius: 4px; }
        #dialog1 .modal-body .bodyContent .content .row input::-webkit-calendar-picker-indicator, #dialog1 .modal-body .bodyContent .content .row textarea::-webkit-calendar-picker-indicator, #dialog .modal-body .bodyContent .content .row input::-webkit-calendar-picker-indicator, #dialog .modal-body .bodyContent .content .row textarea::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none; }
        #dialog1 .modal-body .bodyContent .content .row datalist, #dialog .modal-body .bodyContent .content .row datalist {
          display: block;
          position: absolute; }
        #dialog1 .modal-body .bodyContent .content .row .signal, #dialog .modal-body .bodyContent .content .row .signal {
          color: red;
          line-height: 36px;
          float: right;
          height: 28px;
          width: 7px;
          font-size: 21px; }
        #dialog1 .modal-body .bodyContent .content .row textarea, #dialog .modal-body .bodyContent .content .row textarea {
          height: 56px; }
        #dialog1 .modal-body .bodyContent .content .row .deleteManu, #dialog .modal-body .bodyContent .content .row .deleteManu {
          float: right;
          font-size: 14px;
          color: #2c9ae8; }
        #dialog1 .modal-body .bodyContent .content .row .toast, #dialog .modal-body .bodyContent .content .row .toast {
          margin-left: 50px;
          color: red; }
        #dialog1 .modal-body .bodyContent .content .row .transformerToast, #dialog .modal-body .bodyContent .content .row .transformerToast {
          width: 100%;
          margin-left: 90px; }
      #dialog1 .modal-body .bodyContent .content .row:nth-last-child(1), #dialog .modal-body .bodyContent .content .row:nth-last-child(1) {
        height: 56px;
        margin-bottom: 0; }
      #dialog1 .modal-body .bodyContent .content .checkboxFour, #dialog .modal-body .bodyContent .content .checkboxFour {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        position: relative;
        background-color: #fff;
        top: 3px;
        display: inline-block;
        border: 1px solid #2c9ae8 !important;
        margin-right: 5px !important; }
      #dialog1 .modal-body .bodyContent .content .checkboxFour input[type=radio], #dialog1 .modal-body .bodyContent .content .checkboxFour .row textarea[type=radio], #dialog1 .modal-body .bodyContent .content .row .checkboxFour textarea[type=radio], #dialog .modal-body .bodyContent .content .checkboxFour input[type=radio], #dialog .modal-body .bodyContent .content .checkboxFour .row textarea[type=radio], #dialog .modal-body .bodyContent .content .row .checkboxFour textarea[type=radio] {
        z-index: 10;
        opacity: 0;
        position: absolute;
        top: -2px;
        left: 1px; }
      #dialog1 .modal-body .bodyContent .content .checkboxFour label, #dialog .modal-body .bodyContent .content .checkboxFour label {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 1px;
        left: 1px;
        background: #fff; }
      #dialog1 .modal-body .bodyContent .content .checkboxFour input[type=radio]:checked + label, #dialog1 .modal-body .bodyContent .content .checkboxFour .row textarea[type=radio]:checked + label, #dialog1 .modal-body .bodyContent .content .row .checkboxFour textarea[type=radio]:checked + label, #dialog .modal-body .bodyContent .content .checkboxFour input[type=radio]:checked + label, #dialog .modal-body .bodyContent .content .checkboxFour .row textarea[type=radio]:checked + label, #dialog .modal-body .bodyContent .content .row .checkboxFour textarea[type=radio]:checked + label {
        background: #2c9ae8; }
      #dialog1 .modal-body .bodyContent .content .rowDelete, #dialog .modal-body .bodyContent .content .rowDelete {
        line-height: 56px;
        text-align: center; }
        #dialog1 .modal-body .bodyContent .content .rowDelete span, #dialog .modal-body .bodyContent .content .rowDelete span {
          color: #2c9ae8;
          margin-right: 5px; }
  #dialog1 .modal-body .modal-footer, #dialog .modal-body .modal-footer {
    padding: 15px 25px; }
    #dialog1 .modal-body .modal-footer .btn, #dialog .modal-body .modal-footer .btn {
      width: 48%;
      border-radius: 6px;
      background-color: #30a6e4 !important;
      color: #fff;
      height: 42px; }
  #dialog1 .modal-body .toastFooter .btn, #dialog .modal-body .toastFooter .btn {
    position: relative;
    left: calc(91px - 50%); }

.panel-header {
  width: 100%;
  height: 270px;
  background-color: #eee; }
  .panel-header .header_title {
    padding: 0 18px;
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    position: relative;
    font-size: 18px;
    color: #2c9ae8; }
    .panel-header .header_title .deleteTransformer {
      position: absolute;
      right: 20px;
      top: 7px;
      width: 60px;
      height: 30px;
      background-color: #2c9ae8;
      line-height: 30px;
      text-align: center;
      border-radius: 4px;
      color: #fff; }
  .panel-header .row {
    width: 96.5%;
    margin: 0 18px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #e0e0e0; }
    .panel-header .row label {
      font-size: 14px;
      color: #333;
      font-weight: normal; }
    .panel-header .row .column {
      float: left; }
      .panel-header .row .column input, .panel-header #dialog1 .modal-body .bodyContent .content .row .column textarea, #dialog1 .modal-body .bodyContent .content .panel-header .row .column textarea, .panel-header #dialog .modal-body .bodyContent .content .row .column textarea, #dialog .modal-body .bodyContent .content .panel-header .row .column textarea, .panel-header .row .column select {
        width: 133px;
        height: 24px;
        padding-left: 5px;
        font-size: 14px;
        color: #333;
        outline: none;
        border-radius: 4px;
        border: 1px solid #e0e0e0 !important; }
    .panel-header .row .columnLeft {
      width: 270px; }
      .panel-header .row .columnLeft select {
        width: 88px; }
    .panel-header .row .columnRight {
      margin-left: 83px; }
      .panel-header .row .columnRight select {
        width: 105px; }
  .panel-header .rowBottom {
    height: 72px;
    border: 0;
    width: 100%;
    margin: 0; }
    .panel-header .rowBottom .column {
      height: 48px;
      border-right: 1px solid #e0e0e0;
      margin: 0; }
      .panel-header .rowBottom .column label {
        display: block;
        font-size: 14px;
        color: #333;
        line-height: 12px;
        text-align: center;
        margin-bottom: 12px; }
      .panel-header .rowBottom .column div {
        line-height: normal;
        font-size: 24px;
        color: #2c9ae8;
        font-weight: bold;
        text-align: center; }
    .panel-header .rowBottom .colFirst, .panel-header .rowBottom .colLast {
      width: 274px; }
    .panel-header .rowBottom .colSecond {
      width: 280px; }
  .panel-header .operateBtn {
    width: 100%;
    height: 54px;
    background-color: #fff; }
    .panel-header .operateBtn .buttons {
      width: 288px;
      float: right; }
      .panel-header .operateBtn .buttons .btn {
        padding: 0;
        width: 75px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        margin: 15px 18px 15px 0;
        border-radius: 24px;
        background-color: #2c9ae8; }
        .panel-header .operateBtn .buttons .btn i {
          font-size: 17px; }

.table-container {
  margin: 0; }
  .table-container .checkboxFour {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    position: relative;
    background-color: #fff;
    top: 3px;
    display: inline-block; }
  .table-container .checkboxFour input[type=checkbox], .table-container .checkboxFour #dialog1 .modal-body .bodyContent .content .row textarea[type=checkbox], #dialog1 .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=checkbox], .table-container .checkboxFour #dialog .modal-body .bodyContent .content .row textarea[type=checkbox], #dialog .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=checkbox], .table-container .checkboxFour input[type=radio], .table-container .checkboxFour #dialog1 .modal-body .bodyContent .content .row textarea[type=radio], #dialog1 .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=radio], .table-container .checkboxFour #dialog .modal-body .bodyContent .content .row textarea[type=radio], #dialog .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=radio] {
    z-index: 10;
    opacity: 0;
    position: absolute;
    top: -2px;
    left: 1px; }
  .table-container .checkboxFour label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
    background: #fff; }
  .table-container .checkboxFour input[type=checkbox]:checked + label, .table-container .checkboxFour #dialog1 .modal-body .bodyContent .content .row textarea[type=checkbox]:checked + label, #dialog1 .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=checkbox]:checked + label, .table-container .checkboxFour #dialog .modal-body .bodyContent .content .row textarea[type=checkbox]:checked + label, #dialog .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=checkbox]:checked + label {
    background: #2c9ae8; }
  .table-container .checkboxFour input[type=radio]:checked + label, .table-container .checkboxFour #dialog1 .modal-body .bodyContent .content .row textarea[type=radio]:checked + label, #dialog1 .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=radio]:checked + label, .table-container .checkboxFour #dialog .modal-body .bodyContent .content .row textarea[type=radio]:checked + label, #dialog .modal-body .bodyContent .content .row .table-container .checkboxFour textarea[type=radio]:checked + label {
    background: #2c9ae8; }
  .table-container tbody .checkboxFour {
    border: 1px solid #2c9ae8 !important; }
    .table-container tbody .checkboxFour label {
      top: 1px;
      left: 1px; }
    .table-container tbody .checkboxFour input, .table-container tbody .checkboxFour #dialog1 .modal-body .bodyContent .content .row textarea, #dialog1 .modal-body .bodyContent .content .row .table-container tbody .checkboxFour textarea, .table-container tbody .checkboxFour #dialog .modal-body .bodyContent .content .row textarea, #dialog .modal-body .bodyContent .content .row .table-container tbody .checkboxFour textarea {
      display: block; }
  .table-container tbody tr td {
    padding: 0; }
    .table-container tbody tr td input, .table-container tbody tr td #dialog1 .modal-body .bodyContent .content .row textarea, #dialog1 .modal-body .bodyContent .content .row .table-container tbody tr td textarea, .table-container tbody tr td #dialog .modal-body .bodyContent .content .row textarea, #dialog .modal-body .bodyContent .content .row .table-container tbody tr td textarea {
      width: 30px;
      height: 18px; }
  .table-container tbody tr td:nth-last-child(1) {
    font-size: 12px;
    color: #666; }

.bottomBtn {
  width: 100px;
  height: 26px;
  background-color: #2c9ae8;
  line-height: 26px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  bottom: 38px;
  right: 18px;
  color: #fff;
  cursor: pointer; }

.return {
  right: 138px; }

/*# sourceMappingURL=transformer.css.map */
